<div ng-if="active('display')" class="attract display">
  <div id="df-500-logo"></div>
  <h2>Compete to win the new Ollie from Orbotix</h2>
</div>

<div ng-if="active('promo')" class="attract promo">
  <div id="hybrid-logo"></div>

  <h2>Creators of</h2>
  <div id="cylon-logo"></div>
</div>

<div ng-if="active('leaderboard')" class="attract leaderboard">
  <iframe src="http://cylonjs-dreamforce500.herokuapp.com/"></iframe>
  <!-- <table>
    <thead>
      <th> Rank </th>
      <th> Name </th>
      <th> Game # </th>
      <th> Collisions </th>
      <th> Seconds </th>
    </thead>
    <tbody>
      <tr ng-repeat="rank in leaderboard">
        <td> {{ rank.id }} </td>
        <td> {{ rank.name }} </td>
        <td> {{ rank.game }} </td>
        <td> {{ rank.collisions }} </td>
        <td> {{ rank.seconds }} </td>
      </tr>
    </tbody>
  </table> -->
</div>

<div ng-if="active('diagram')" class="attract diagram">
  <div id="diagram-image"></div>
</div>
