<div ng-if="active('game.countdown.3')" class="fullscreen game countdown-3">
  <h1>3</h1>
</div>

<div ng-if="active('game.countdown.2')" class="fullscreen game countdown-2">
  <h1>2</h1>
</div>

<div ng-if="active('game.countdown.1')" class="fullscreen game countdown-1">
  <h1>1</h1>
</div>

<div ng-if="active('game.start')" class="fullscreen game start">
  <h1>GO!</h1>
</div>

<div ng-if="active('game.end')" class="fullscreen game end">
  <h1>Thanks For Playing</h1>

  <h2>Winner: {{ winner }}</h2>
</div>
